body {
  margin: 0;
  padding: 0;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main section {
  width: 100%;
  height: 33.33%;
  background: #a7f;
}

#main section:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

#main section:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#main section:nth-child(2) button,
#main section:nth-child(2) input {
  padding: 10px 50px;
  border-radius: 2px;
  font-size: 1.5rem;
  outline: none;
  border: none;
}

#main section:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}
